<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="Position Category Test">
        <classes>
            <class name="Campus.PositionCategoryTest"> </class>
        </classes>
    </test>

    <test  name="Attestations Test">
        <classes>
            <class name="Campus.AttestationsTest"> </class>
        </classes>
    </test>

    <test  name="Positions Test">
        <classes>
            <class name="Campus.PositionsTest"> </class>
        </classes>
    </test>

</suite>
